
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            About
        </div>
        <div class="panel-body">
            <p>
                <strong>Bakufu Awyeaaaah!!!</strong>
            </p>
        </div>
    </div>
</div>
