<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            FAQ
        </div>
        <div class="panel-body">
            <p>
                <strong>How to Use bakufu?</strong>
            </p>
            <p>
                Only god knows...
            </p>
        </div>
    </div>
</div>
